.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.daily-item {
    background-color: #befaf6;
    border-radius: 8px;

    height:2.5rem ;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3rem 1.4rem;
}

.small-icon {
    width: 3rem;
}

.day {
    color: #212121;
    flex: 1 1;
    font-weight: bold;
    margin-left: 1rem;
}

.description {
    flex: 1 1 ;
    margin-right: 1rem;

    text-align: right;
}

.min-max {
    color: #757575;
}

.details-grid {
    grid-row-gap: 0;
    grid-column-gap: 1rem;
    column-gap: 1rem;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 0.4rem 1rem;
    background: #befaf6;
    border-radius: 8px;
}

.details-grid-item {
    display: flex;
    align-items: center;
    height: 2rem ;
    justify-content: space-between;
}