.weather {
  width: 18.75rem;
  border-radius: 4px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 1.8rem auto 0 auto;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 1.55rem;
  line-height: 1;
  margin: 0;
}

.weather-description {
  font-size: 1.2rem;
  line-height: 1;
  margin: 0.5rem;
}

.weather-icon {
  width: 6.25rem;
}

.temp {
  font-weight: 600;
  font-size: 4rem;
  width: auto;
  letter-spacing: 1px;
  margin: 0.6rem 0;
}

.details {
  width: 100%;
  padding-left: 1.5rem;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 0.825rem;
}

.parameter-value {
  text-align: right;
  font-weight: bold;
  font-size: 0.825rem;
}

.parameter-label.top {
    font-size: 0.88rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}